[% define "main" %]
<!DOCTYPE html>
<html lang="en" ng-app="admin-app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

		<title>E-Shop admin interface</title>

		<!-- Bootstrap core CSS -->
		<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/public/stylesheets/admin.css" rel="stylesheet">
		<link href="/public/stylesheets/ng-tags-input/ng-tags-input.min.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<div ng-include="'navbar.tpl.html'"></div>
		<div class="container-fluid" ng-view ng-controller="CrudCtrl"></div>


		<!-- Templates
		================================================== -->
		<script id="navbar.tpl.html" type="text/ng-template">
			<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarCtrl">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">E-Shop</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li ng-class="{active:isNavbarActive('categories')}"><a href="#/categories">Категории</a></li>
							<li ng-class="{active:isNavbarActive('products')}"><a href="#/products">Товары</a></li>
							<li ng-class="{active:isNavbarActive('articles')}"><a href="#/articles">Статьи</a></li>
							<li ng-class="{active:isNavbarActive('users')}"><a href="#/users">Пользователи</a></li>
							<li ng-class="{active:isNavbarActive('attrindex')}"><a href="#/attrindex">Характеристики товара</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="@routes.Application.logout">Logout <i>@session.apply(Security.username)</i></a></li>
						</ul>
						<!--
						<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
						</form>
						-->
					</div>
				</div>
			</div>
		</script>

		<!-- ========== -->
		<!-- Categories -->
		<!-- ========== -->

		<script id="categories_list.tpl.html" type="text/ng-template">
			<h4>Категории</h4>
			<ul class="nav navbar-nav">
				<li><a class="btn btn-default" href="#/categories/new">Добавить категорию</a></li>
			</ul>
			<div class="clearfix"></div>
			<div class="table-responsive" ng-controller="CategoryListCtrl">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Название</th>
							<th>Родитель</th>
							<th>&nbsp</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
							<td>{{$index+1}}</td>
							<td style="padding-left: {{item.path.length/2}}em;">{{item.title}}</td>
							<td>{{allCategories.byId(item.parent).title}}</td>
							<td><a href="#/categories/{{item.id}}/edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span></a></td>
							<td><a href="" ng-click="remove(item)" class="btn btn-sm btn-default"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</script>
		<script id="categories_form.tpl.html" type="text/ng-template">
			<form role="form" name="form" ng-submit="save(item)" ng-controller="CategoryEditCtrl" qn-validate="errors">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Название</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.title" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.title.$invalid">
							{{form.$serverError.title.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Родительская категория</label>
					<div class="col-sm-10">
						<select ng-model="item.parent" ng-options="p.path as p.title for p in parents" class="form-control">
						</select>
						<span class="validation-error" ng:show="form.$serverError.parent.$invalid">
							{{form.$serverError.parent.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Описание</label>
					<div class="col-sm-10">
						<textarea ng-model="item.description" rows="12" class="form-control"></textarea>
						<span class="validation-error" ng:show="form.$serverError.description.$invalid">
							{{form.$serverError.description.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group" style="padding-top: 2px">
					<label class="col-sm-2 control-label text-right">Характеристики</label>
					<div class="col-sm-10 table-responsive">
						<table class="table table-striped">
							<tr>
								<td colspan="3">
									<button type="button" class="btn btn-default" ng-click="add_attr()">
										<span class="glyphicon glyphicon-plus"></span> Добавить характеристику
									</button>
								</td>
							</tr>
							<tr ng-repeat="a in item.attrs" ng-init="err_attr = 'attrs['+$index+'].attr'; err_stype = 'attrs['+$index+'].searchType'">
								<td>
									<input type="text" ng-model="a.attr" placeholder="название" class="form-control" typeahead="attr.attr for attr in typeahead_attrs | filter:{attr:$viewValue}" typeahead-loading="loadingLocations">
									<span ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></span>
									<span class="validation-error" ng-show="form.$serverError[err_attr].$invalid">
										{{form.$serverError[err_attr].message}}
									</span>
								</td>
								<td>
									<select ng-model="a.searchType" ng-options="s for s in searchtypes" class="form-control" title="вид в поисковой форме">
									</select>
									<span class="validation-error" ng:show="form.$serverError[err_stype].$invalid">
										{{form.$serverError[err_stype].message}}
									</span>
								</td>
								<td><button type="button" class="btn btn-default" ng-click="remove_attr(a)"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary">Сохранить</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
				</div>
			</form>
		</script>

		<!-- ========== -->
		<!-- Products -->
		<!-- ========== -->

		<script id="products_list.tpl.html" type="text/ng-template">
			<div class="row" ng-controller="ProductListCtrl">
				<div class="col-sm-12 col-md-12">
					<h4>Товары</h4>
					<ul class="nav navbar-nav">
						<li><a class="btn btn-default" href="#/products/new">Добавить новый</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						В категории:
						<select ng-model="page.category" ng-options="p.id as p.title for p in categories" ng-change="load_products('reload')" class="form-control">
							<option value="">Все</option>
						</select>
						<input type="text" ng-model="page.keyword" ng-change="load_products('reload')" class="form-control" placeholder="Поиск товара">
					</form>
				</div>
				<div class="clearfix"></div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Название</th>
								<th>Категория</th>
								<th>Цена</th>
								<th>&nbsp</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{$index+1}}</td>
								<td>{{item.title}}</td>
								<td>{{allCategories.byId(item.category).title}}</td>
								<td>{{item.price}}</td>
								<td><a href="#/products/{{item.id}}/edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> </a></td>
								<td><a href="" ng-click="remove(item)" class="btn btn-sm btn-default"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></a></td>
							</tr>
						</tbody>
					</table>

					<div class="col-lg-2 center" ng-show="total > items.length">
						<button type="button" ng-click="load_products()">Загрузить еще</button>
					</div>
					<br>
					<div class="col-lg-2 center">Всего найдено: <b>{{total}}</b></div>
				</div>
			</div>
		</script>

		<script id="products_form.tpl.html" type="text/ng-template">
			
			<form role="form" name="form" ng-submit="save(item)" ng-controller="ProductEditCtrl" qn-validate="errors">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Название</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.title" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.title.$invalid">
							{{form.$serverError.title.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Категория</label>
					<div class="col-sm-10">
						<select ng-model="item.category" ng-options="p.id as p.title for p in categories" class="form-control">
						</select>
						<span class="validation-error" ng:show="form.$serverError.category.$invalid">
							{{form.$serverError.category.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Описание</label>
					<div class="col-sm-10">
						<textarea ng-model="item.description" rows="12" class="form-control"></textarea>
						<span class="validation-error" ng:show="form.$serverError.description.$invalid">
							{{form.$serverError.description.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Цена</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.price" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.price.$invalid">{{form.$serverError.price.message}}</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group" style="padding-top: 2px">
					<label class="col-sm-2 control-label text-right">Изображения</label>
					<div class="col-sm-10">
						<div class="row">
							<div class="col-xs-6 col-md-3">
								<div class="thumbnail">
									<input type="file" multiple ng-model="files" file-change="upload">
								</div>
							</div>
							<div class="col-xs-6 col-md-3" ng-repeat="f in item.images">
								<div class="thumbnail">
									<a href="/public/upload/{{f}}" target="_blank">
										<img ng-src="/public/upload/thumb_{{f}}" class="img-thumbnail" width="150">
									</a>
									<p><button class="btn btn-danger btn-xs" type="button" ng-click="remove_img(f)"><span class="glyphicon glyphicon-remove"></span></button></p>
								</div>
							</div>
						</div>
						<span class="validation-error" ng:show="form.$serverError.upload.$invalid">
							{{form.$serverError.upload.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group" style="padding-top: 2px">
					<label class="col-sm-2 control-label text-right">Характеристики</label>
					<div class="col-sm-10 table-responsive">
						<table class="table table-striped">
							<tr>
								<td colspan="3">
									<button type="button" class="btn btn-default" ng-click="add_attr()">
										<span class="glyphicon glyphicon-plus"></span> Добавить характеристику
									</button>
								</td>
							</tr>
							<tr ng-repeat="a in item.attrs" ng-init="err_attr = 'attrs['+$index+'].attr'; err_val = 'attrs['+$index+'].value'">
								<td>
									<input type="text" ng-model="a.attr" placeholder="название" class="form-control" typeahead="attr.attr for attr in typeahead_attrs | filter:{attr:$viewValue}" typeahead-loading="loadingLocations">
									<span ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></span>
									<span class="validation-error" ng-show="form.$serverError[err_attr].$invalid">
										{{form.$serverError[err_attr].message}}
									</span>
								</td>
								<td>
									<input type="text" ng-model="a.value" placeholder="значение" class="form-control">
									<span class="validation-error" ng-show="form.$serverError[err_val].$invalid">
										{{form.$serverError[err_val].message}}
									</span>
								</td>
								<td><button type="button" class="btn btn-default" ng-click="remove_attr(a)"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary">Сохранить</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
				</div>
			</form>
		</script>

		<!-- ========== -->
		<!-- Articles -->
		<!-- ========== -->

		<script id="articles_list.tpl.html" type="text/ng-template">
			<div class="row" ng-controller="ArticleListCtrl">
				<div class="col-sm-12 col-md-12">
					<h4>Статьи</h4>
					<ul class="nav navbar-nav">
						<li><a class="btn btn-default" href="#/articles/new">Добавить новую</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						Фильтр по тэгу:
						<select ng-model="page.tags" ng-options="t.name as t.name for t in articletags" ng-change="load_items('reload')" class="form-control">
							<option value="">Все</option>
						</select>
						<input type="text" ng-model="page.keyword" ng-change="load_items('reload')" class="form-control" placeholder="по ключевым словам">
					</form>
				</div>
				<div class="clearfix"></div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Заголовок</th>
								<th>Тэги</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{$index+1}}</td>
								<td>{{item.title}}</td>
								<td><span class="label label-primary" style="margin: 0 2px" ng-repeat="t in item.tags">{{t.name}}</span></td>
								<td><a href="#/articles/{{item.id}}/edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> </a></td>
								<td><a href="" ng-click="remove(item)" class="btn btn-sm btn-default"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></a></td>
							</tr>
						</tbody>
					</table>

					<div class="col-lg-2 center" ng-show="total > items.length">
						<button type="button" ng-click="load_items()">Загрузить еще</button>
					</div>
					<br>
					<div class="col-lg-2 center">Всего найдено: <b>{{total}}</b></div>
				</div>
			</div>
		</script>

		<script id="articles_form.tpl.html" type="text/ng-template">
			
			<form role="form" name="form" ng-submit="save(item)" ng-controller="ArticleEditCtrl" qn-validate="errors">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Заголовок</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.title" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.title.$invalid">
							{{form.$serverError.title.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Тэги</label>
					<div class="col-sm-10">
						<tags-input ng-model="item.tags" display-property="name" class="bootstrap" on-tag-added="typeahead_tags.push($tag)" replace-spaces-with-dashes="false" add-on-comma="false">
							<auto-complete source="load_tags($query)"></auto-complete>
						</tags-input>
						<span class="validation-error" ng:show="form.$serverError.tags.$invalid">
							{{form.$serverError.tags.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Текст</label>
					<div class="col-sm-10">
						<textarea ng-model="item.text" rows="22" ui-tinymce class="form-control"></textarea>
						<span class="validation-error" ng:show="form.$serverError.text.$invalid">
							{{form.$serverError.text.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary">Сохранить</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
				</div>
			</form>
		</script>

		<!-- ========== -->
		<!-- Users -->
		<!-- ========== -->

		<script id="users_list.tpl.html" type="text/ng-template">
			<div class="row" ng-controller="UserListCtrl">
				<div class="col-sm-12 col-md-12">
					<h4>Пользователи</h4>
					<ul class="nav navbar-nav">
						<li><a class="btn btn-default" href="#/users/new">Добавить пользователя</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						Фильтр по группе:
						<select ng-model="page.groups" ng-options="g.name as g.name for g in usergroups" ng-change="load_items('reload')" class="form-control">
							<option value="">Все</option>
						</select>
						<input type="text" ng-model="page.keyword" ng-change="load_items('reload')" class="form-control" placeholder="по ключевым словам">
					</form>
				</div>
				<div class="clearfix"></div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Login</th>
								<th>E-mail</th>
								<th>Имя</th>
								<th>Статус</th>
								<th>Группы</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{$index+1}}</td>
								<td>{{item.login}}</td>
								<td>{{item.email}}</td>
								<td>{{item.name}}</td>
								<td>{{item.status}}</td>
								<td><span class="label label-primary" style="margin: 0 2px" ng-repeat="g in item.groups">{{g.name}}</span></td>
								<td><a href="#/users/{{item.id}}/edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> </a></td>
								<td><a href="" ng-click="remove(item)" class="btn btn-sm btn-default"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></a></td>
							</tr>
						</tbody>
					</table>

					<div class="col-lg-2 center" ng-show="total > items.length">
						<button type="button" ng-click="load_items()">Загрузить еще</button>
					</div>
					<br>
					<div class="col-lg-2 center">Всего найдено: <b>{{total}}</b></div>
				</div>
			</div>
		</script>

		<script id="users_form.tpl.html" type="text/ng-template">
			
			<form role="form" name="form" ng-submit="save(item)" ng-controller="UserEditCtrl" qn-validate="errors">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Login</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.login" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.login.$invalid">
							{{form.$serverError.login.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">E-mail</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.email" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.email.$invalid">
							{{form.$serverError.email.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Имя</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.name" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.name.$invalid">
							{{form.$serverError.name.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Пароль</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.password" class="form-control" placeholder="Укажите новый пароль">
						<span class="validation-error" ng:show="form.$serverError.password.$invalid">
							{{form.$serverError.password.message}}
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Группы</label>
					<div class="col-sm-10">
						<tags-input ng-model="item.groups" display-property="name" class="bootstrap" on-group-added="typeahead_groups.push($tag)" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" placeholder="Add a group" >
							<auto-complete source="load_groups($query)" min-length="0"></auto-complete>
						</tags-input>
						<span class="validation-error" ng:show="form.$serverError.groups.$invalid">
							{{form.$serverError.groups.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Статус</label>
					<div class="col-sm-10">
						<select ng-model="item.status" ng-options="s for s in statuses" class="form-control">
						</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
				</div>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary">Сохранить</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
                    <div class="validation-error" ng:show="form.$serverError.form.$invalid">{{form.$serverError.form.message}}</div>
				</div>
			</form>
		</script>

		<!-- ============ -->
		<!-- AttrIndex -->
		<!-- ============ -->

		<script id="attrindex_list.tpl.html" type="text/ng-template">
			<div class="row" ng-controller="AttrIndexListCtrl">
				<div class="col-sm-12 col-md-12">
					<h4>Характеристики товаров</h4>
					<!-- ul class="nav navbar-nav">
					<li><a class="btn btn-default" href="#/attrindex/new">Добавить ?</a></li>
					</ul -->
					<form class="navbar-form navbar-right">
						Фильтр по типу поиска:
						<select ng-model="page.searchtype" ng-options="s for s in searchtypes" ng-change="load_items('reload')" class="form-control">
							<option value=""></option>
						</select>
						<input type="text" ng-model="page.keyword" ng-change="load_items('reload')" class="form-control" placeholder="по ключевым словам">
					</form>
				</div>
				<div class="clearfix"></div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>name</th>
								<th>searchtype</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{$index+1}}</td>
								<td>{{item.name}}</td>
								<td>{{item.searchType}}</td>
								<td><a href="#/attrindex/{{item.id}}/edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> </a></td>
								<td><a href="" ng-click="remove(item)" class="btn btn-sm btn-default"><span style="color: crimson" class="glyphicon glyphicon-remove-circle"></span></a></td>
							</tr>
						</tbody>
					</table>

					<div class="col-lg-2 center" ng-show="total > items.length">
						<button type="button" ng-click="load_items()">Загрузить еще</button>
					</div>
					<br>
					<div class="col-lg-2 center">Всего найдено: <b>{{total}}</b></div>
				</div>
			</div>
		</script>

		<script id="attrindex_form.tpl.html" type="text/ng-template">
			
			<form role="form" name="form" ng-submit="save(item)" ng-controller="AttrIndexEditCtrl" qn-validate="errors">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Название</label>
					<div class="col-sm-10">
						<input type="text" ng-model="item.name" class="form-control">
						<span class="validation-error" ng:show="form.$serverError.name.$invalid">
							{{form.$serverError.name.message}}
						</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">Тип поиска</label>
					<div class="col-sm-10">
						<select ng-model="item.searchType" ng-options="s for s in searchtypes" class="form-control">
						</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary">Сохранить</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
				</div>
			</form>
		</script>

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/public/javascripts/bootstrap.min.js"></script>
		<script src="/public/javascripts/lodash.compat.min.js"></script>
		<script src="/public/javascripts/angular.min.js"></script>
		<script src="/public/javascripts/angular-route/angular-route.js"></script>
		<script src="/public/javascripts/angular-resource/angular-resource.js"></script>
		<script src="/public/javascripts/ui-bootstrap-custom-0.10.0.min.js"></script>
		<script src="/public/javascripts/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
		<script src="/public/javascripts/tinymce/tinymce.min.js"></script>
		<script src="/public/javascripts/angular-ui-tinymce/src/tinymce.js"></script>
		<script src="/public/javascripts/ng-tags-input/ng-tags-input.js"></script>
		<script src="/public/javascripts/admin_app.js"></script>
		<script type="text/javascript">
		 window.user_statuses = [%.Statuses%];
		 window.searchtypes = [%.SearchTypes%];
		</script>
	</body>
</html>
[% end %]
