@(products : Array[Product])

@for(p <- products) {
    <div class="col-6 col-sm-6 col-lg-4">
        <h2>@p.title</h2>
        <p>@p.description</p>
        @if(p.images.size > 0) {
        <p>
            <img src="/assets/upload/thumbs/@p.images(0)" border="0">
        </p>
        }
        <p><a class="btn btn-default" href="@routes.Site.viewProduct(p.id)" role="button">Подробнее &raquo;</a></p>
    </div><!--/span-->
}
