
[% define "filter" %]
[% end %]

[% define "title" %]Корзина[% end %]

[%define "content"%]
    <p>&nbsp;</p>
    <div class="row">
        <h2>Корзина</h2>
        <div class="col-md-6">
            <h4 data-bind="if: items().length == 0">Корзина пуста</h4>
			<form class="form-inline">
				<table class="table table-condensed">
					<tr>
						<th>#</th>
						<th><b>Название</b></th>
						<th><b>Цена</b></th>
						<th><b>Количество</b></th>
						<th>&nbsp;</th>
					</tr>
					<tr data-bind="foreach: items">
						<td data-bind="text: Product.id"></td>
						<td data-bind="text: Product.title"></td>
						<td data-bind="text: Product.price"></td>
						<td><input type="text" class="form-control" data-bind="textInput: Qty" size="4" /></td>
						<td style="vertical-align:middle"><button type="button" class="btn btn-danger btn-xs" data-bind="click: removeItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
					</tr>
					<tr>
						<th></th>
						<th align="right"><b>Итого:</b></th>
						<th colspan="3"><b data-bind="text: total"></b></th>
					</tr>
				</table>
			</form>
            <p>
				<a href="" data-bind="click: clearCart, if: items().length > 0">Очистить корзину</a>
			</p>
        </div>
    </div><!--/row-->
[%end%]

[% define "footer" %]
	<script type="text/javascript">

	 var cartSrc = [% .Cart %];

	 var cartModel = function () {
		 var self = this;
		 self.items = ko.observableArray(_.map(cartSrc.Items, function(i) {
			 i.Qty = ko.observable(i.Qty);
			 // update cart cookie with new qtys
			 i.Qty.subscribe(function(newVal) {
				 var nitems = _.reduce(self.items(), function(nitems, n) {
					 nitems[n.Product.id] = { qty: parseInt(n.Qty()), price: n.Product.price };
					 return nitems;
				 }, {});
				 updateCartItems(nitems);
			 });
			 return i;
		 }));
		 self.total = ko.pureComputed(function () {
			 var total = _.reduce(self.items(), function(sum, n) {
				 var qty = parseFloat(n.Qty());
				 if(isNaN(qty)) qty = 0;
				 return sum + parseFloat(n.Product.price)*qty;
			 }, 0);
			 return total;
		 });

		 self.removeItem = function() {
			 var items = {}; // this.Product['id']: 0 };
			 items[this.Product.id] = { qty: 0 };
			 updateCartItems(items);
			 self.items.remove(this);
		 };

		 self.clearCart = function() {
			 self.items.removeAll();
			 emptyCart();
		 };
	 };

	 ko.applyBindings(cartModel, document.getElementById('cart_el'));
	 
	</script>
[%end%]

