[% define "signin" %]
  [%if .LoggedIn%]
  <div>
	  Logged in as <b>[%.Login%]</b>,
	  <a href="/logout">Logout</a>
	  <br>
	  <br>
  </div>
  [%else%]
  <div class="side-login-form">
	  <form class="form-signin" action="" role="form">
		  <h4 class="form-signin-heading">Please sign in</h4>
		  <input type="text" class="form-control" placeholder="Email address" ng-model="user.email">
		  <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
		  <p class="error"></p>
		  <!--div class="checkbox">
		  < label>
			  <input type="checkbox" value="remember-me"> Remember me
		  </label>
		  </div -->
		  <button class="btn btn-small  btn-primary btn-block" type="submit">Sign in</button>
		  <p class="error"></p>
	  </form>
  </div>
  [%end%]
[% end %]

[% define "footer" %]

[% end %]

[% define "categories_tree" %]
  <div class="list-group">
	  [% range $index, $c := .Categories %]
      <a href="/list_products?category=[% $c.Id %]" title="[% $c.Description %]" class="list-group-item[% if $.SelectedCat %][% if eq $c.Id $.SelectedCat.Id %] active[% end %][% end %]" style="padding-left: [% $c.Depth %]em">[% $c.Title %]</a>
	  [% end %]
  </div>
[% end %]

[% define "main" %]
<!DOCTYPE html>
<html ng-app="shop-app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>[% template "title" %]</title>

		<!-- Bootstrap core CSS -->
		<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/public/stylesheets/main.css" rel="stylesheet">
		<link href="/public/stylesheets/ng-tags-input/ng-tags-input.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">E-store</a>
            </div>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text navbar-right" id="cart-box">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				<a class="cart-msg" href="/cart">Корзина пуста</a>
            </p>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
        </div><!-- /.navbar -->

        <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-xs-12 col-sm-9">

                [% template "content" . %]

            </div><!--/span-->

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
				[% template "categories_tree" . %]

				[% if .SelectedCat %][% template "filter" . %][% end %]

				[% template "signin" . %]

				<br>
				<div id="alertbox"></div>
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; Company 2014</p>
        </footer>

        </div><!--/.container-->

		<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/public/javascripts/jquery.cookie.js"></script>
		<script src="/public/javascripts/bootstrap.min.js"></script>
		<script src="/public/javascripts/lodash.compat.min.js"></script>
		<script src="/public/javascripts/knockout-3.2.0.js"></script>
        <script src="/public/javascripts/app.js"></script>
        <script src="/public/javascripts/cart.js"></script>
		<script type="text/javascript">
		 refreshCart();
		</script>
		[% template "footer" . %]
    </body>
</html>
[% end %]
